@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
.container {
  position: relative;
}
.topbar {
  height: 11vh;
  background-color: #e2e2e2;

  display: flex;
  justify-content: space-between;
}

#logo {
  align-self: center;
  height: 7vh;
  width: 7vh;
  margin-left: 3vw;
}

#optionContainer {
  margin: auto 0;

  float: right;
}
.topbarOption {
  background: #e2e2e2;
  outline: none;
  margin-right: 3vw;
  font-size: 20px;
  border: none;
  color: grey;
  cursor: pointer;
  font-weight: 600;
}
.topbarOption:hover {
  color: black;
}

.start {
  color: black;
  border: white 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  /* box-shadow: grey 2px 2px 5px; */
}
.start:hover {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #4f93b8; */
  background-color: #e2e2e2;
}
.about-body {
  display: flex;
  height: 50vh;
  justify-content: space-between;
}

.text-sec {
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
}
.heading1 {
  margin: 15vh 20vh 0 15vh;
  font-size: 5rem;
  font-family: "B612";
}
#heading1-txt {
  margin-left: 17vh;
  width: 23rem;
}
.ill {
  height: 28rem;
  margin-right: 15vh;
}
.white-wave {
  margin-top: auto;
  bottom: 0;
}
